<!DOCTYPE html>
<html lang="En">
    <head>
        <title>English for Kids</title>
    </head>
    <body>
        <%= require('./includes/header.part.html') %> <%=
        require('./includes/modal-menu.part.html') %>
        <main>
            <section class="cards">
                <div class="card"><p>Emotion</p></div>
                <div class="card"><p>Emotion</p></div>
                <div class="card"><p>Emotion</p></div>
                <div class="card"><p>Emotion</p></div>
                <div class="card"><p>Emotion</p></div>
                <div class="card"><p>Emotion</p></div>
                <div class="card"><p>Emotion</p></div>
                <div class="card"><p>Emotion</p></div>
            </section>
        </main>
    </body>
</html>
