// Main colours
$color-dark-blue:  rgb(16, 32, 62);
$color-light-blue: rgb(64, 129, 208);
$color-gray: rgb(205, 208, 204);
$color-white: #fff;
$color-black: #000;

// Additional colours
$color-orange: #d08f40;

// Helpers
$color-warning: $color-orange;
