@import "~normalize.css/normalize.css";

html,
body {
    font-family: "Century Cothic", sans-serif;
    width: 100%;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
li {
    list-style: none;
}
a:hover {
    text-decoration: underline;
}
* {
    box-sizing: border-box;
}
